*{margin: 0; padding: 0;}
*,*::before, *::after{box-sizing: border-box;}
body{background-color: #eff1f8;}
#waiting.active{display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100vh; position: relative; z-index: 9999;}
#waiting{display: none;}
#waiting img{max-width: 100px;}
#waiting p{font-size: 18px; font-family: cursive;}
.progress{width: 1000px; margin: 0 auto; height: 30px; border-radius: 20px; }
.progress .progress-bar{ background-image: linear-gradient(to right, pink , tomato);}

section#question{text-align: center; padding: 50px 0;}

section#wrap-select .group-button{display: flex; justify-content: space-around;}
section#wrap-select .group-button .wrap-button{display: flex; flex-direction: column;}
section#wrap-select .wrap-form{padding: 50px 100px; display: none;}

footer{position: absolute; bottom: 0; text-align: center; display: none; width: 100%; }
main#main-container{display: none;}
.wrap-banner{display: none; text-align: center;}
.wrap-banner p{margin-top: 30px;}
.wrap-banner img{max-width: 250px;}
.modal-body p{padding: 20px 30px; text-align: center;}
.modal-footer button{width: 100%; background: #f09fad; border: none;}
.modal-footer button:hover{background-color: #a54d5c;}
@media (max-width: 576px){
  section#wrap-select .group-button .wrap-button{width: 45%;}
  section#wrap-select .group-button .wrap-button img{max-width: 130px;}
  section#wrap-select .wrap-form{padding: 50px 20px; }
  section#question{padding: 10px; }
  section#question h1{font-size: 20px;}
  section#question p{font-size: 18px;}
  .progress {width: 90%;}
}